<!-- 
  Container principal da aplicação
  Esta div contém toda a aplicação e aplica o tema atual
-->
<div class="app-container" [class.dark-theme]="themeService.darkTheme$ | async" [class.light-theme]="!(themeService.darkTheme$ | async)">
  <app-header *ngIf="authService.isLoggedIn()"></app-header>
  
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Vaga Livre</a>
    <!-- ... other navbar content ... -->
  </nav>

  <div class="content-wrapper">
    <div class="content container">
      <router-outlet></router-outlet>
    </div>
  </div>
  
  <app-footer *ngIf="authService.isLoggedIn()"></app-footer>
</div>
